
language: java
jdk:
  - openjdk11

sudo: false

services:
  - postgresql

before_script:
  - psql -c 'create database urlshort;' -U postgres

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      -ataraveski@gmail.com
    on_success: never
    on_failure: always

env:
   global:
    - CODECOV_TOKEN="b430e14c-7607-4ba5-8b74-fe9ad0d222b0"